.write-container{
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    /* margin: 0 auto; */
    padding: 40px;
    background-color: var(--color-soft-brown);
    border-radius: 20px;
}

header h2 {
    margin-bottom: 50px;
    text-align: left;
    color: #4B3E36
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* max-width: 100%;
    width: 100%; */
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-weight: 600;
    text-align: left;
    color: #4B3E36;
}

input {
    padding: 10px;
    border: 1px solid #4B3E36;
    border-radius: 4px;
    font-size: 16px;
}

textarea{
    padding: 10px;
    border: 1px solid #4B3E36;
    border-radius: 4px;
    height: 200px;
    font-size: 16px;
}

.group-line-up{
    /* padding-right: 0px; */
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.feedback-checkbox{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
}

.save-button {
    padding: 10px 20px;
    background-color: var(--color-light-brown);
}
.feedback-save-button {
    width: 197px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: #CCD5AE;
}


/* 프리셋 선택 스타일 */
/* 가로 배치 추가 */
.presets {
  margin-top: 10px;
  margin-bottom: 10px;
}

.presets h4 {
  margin: 0;
  min-width: 60px; /* 카테고리 제목 너비 고정 */
  margin-right: 15px; /* 제목과 태그 사이 간격 */
}

.presets-grid {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* 태그 간 간격 */
}

.preset-select {
  margin-top: 20px;
}

.presets-button {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--color-soft-brown);
  border: 1px solid var(--color-dark-brown);
  cursor: pointer;
  transition: all 0.2s ease;
}

.presets-button:hover {
  background-color: #e0e0e0;
}

.presets-button.selected {
  background-color: var(--color-dark-brown);
  color: white;
  border-color: var(--color-soft-brown);
}