.nav-bar {
  display: flex;
  gap: 20px;
  background-color: rgba(216, 158, 116, 0.1);
  padding: 10px;
  justify-content: center;
}

.nav-button {
  background-color: var(--color-light-brown);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: var(--color-brown) ;
}