.nav-bar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-bar {
  display: flex;
  flex: 1;
  gap: 90px;
  padding: 10px;
  margin: 40px 0;
  /* border: 2px solid var(--color-gray); */
  border-radius: 20px;
  justify-content: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  
}

.nav-button {
  border: none;
  border-radius: 20px;
  color: var(--color-brown);
  font-weight: 700;
  padding: 10px 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--bg-color);
}

.nav-button:hover {
  background-color: var(--color-light-brown);
  color: white;
}