.rdp {
  margin: 0 auto;
  transform: scale(2.0);
  transform-origin: top center;
  font-size: 1.1rem;
}

.rdp-day {
  width: 10rem;
  height: 10rem;
  padding: 0.5rem;
}

.rdp-day_today {
  font-weight: bold;
  border: 1px solid #2196f3;
}

.has-diary {
  background-color: #ffeb3b;
  border-radius: 50%;
}
