body {
    justify-content: center;
}
  
.home-wapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.calendar-container {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
}

.memo-list-container {
    width: 100%;
    max-width: 1000px;
}
  